@charset "utf-8";
/* CSS Document */


#container{margin-top:-1px;}
#contents .sub_content{width:100%; margin:0; padding:0;}/* 메인 */
.main_visual{overflow:hidden; width:100%;  margin:0 0 50px 0;}
.main_content{}
.main_slide_ban{overflow:hidden; width:1200px; margin:0 auto;}
.main_slide{float:left; width:610px;}
.main_banner{float:left; width:589px; padding:0 0 0 1px;}
.main_ban_img01,
.main_ban_img02,
.main_ban_img03{display:inline-block; float:left;}
.main_ban_img01{padding:0 0 1px 0;}
.main_ban_img03{padding:0 0 0 1px;}

.main_cont_slide{text-align:center;}

.scroll_wrap{top:806px;}


.main_company {width: 1328px; margin: 100px auto; position: relative;}
.main_company h2 {font-size: 40px; text-align: center; padding: 0 0 35px;}
.main_company h2 span {color: #380f93;}
.main_company .swiper {width: 1200px; margin: 0 auto;}
.main_company .swiper-slide {}
.main_company .swiper-slide .img_box {border: 1px solid #eeeeee; border-radius: 20px; overflow: hidden; min-height: 224px; position: relative;}
.main_company .swiper-slide a {display: block; font-size: 0; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center;}
.main_company .swiper-slide img {}

.swiper-button-next:after,
.swiper-button-prev:after {display: none;}
.swiper-button-next,
.swiper-button-prev {opacity: 1; margin: 0 !important;}
.swiper-button-next {right: 0 !important; background: url(../../img/new/main/ico_slide_next.png) no-repeat center/100%; width: 25px; height: 48px;}
.swiper-button-prev {left: 0 !important; background: url(../../img/new/main/ico_slide_prev.png) no-repeat center/100%; width: 24px; height: 47px;}