@charset "utf-8";
/* CSS Document */
/**
 * custom css 입니다. 추가적인 css 는 여기에 작성을 해주세요.
 */

/* common */
body,th,td,input,select,textarea,button {font-size:15px;}
.chosen-container {font-size:15px;}

/* form */
select {height:45px; font-size:15px; border-radius: 5px; padding-left:10px; border:1px solid #dddddd;}
select:focus {border:1px solid #222;}
#wrap .chosen-single {height:45px; border-radius: 5px; border:1px solid #dddddd;}
#wrap .chosen-single > span {line-height:45px;}
.chosen-container-single .chosen-single div b {background-position:0 10px;}
.chosen-container-active.chosen-with-drop .chosen-single div b {background-position:-18px 10px;}


input[type="text"], input[type="password"], input[type="file"] {height:45px; font-size:15px; border-radius: 5px; padding-left:20px; border:1px solid #dddddd;}
input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus {border:1px solid #222;}


.wrap {width:1200px; margin:0 auto; position:relative;}
.bg_active {background:#1e1e46;}
.col_active {color:#1e1e46;}
.location_wrap {border:none; margin-top:20px;}

/* button */
.button-m {height:40px; line-height: 40px; padding:0 20px; border-radius: 5px; background: #f2f2f2; font-size:15px; font-weight:400; color:#666;}
.button-l {min-width:160px; height:60px; line-height: 60px; padding:0 20px; border-radius: 10px; background: #f2f2f2; font-size:16px; font-weight:400; color:#666;}
.button-l + .button-l {margin-left:15px;}

/* layer_area */
#wrap .ly_wrap {padding:30px 40px 20px;}
#wrap .ly_wrap .ly_tit {background:#fff; font-size:20px; padding:0; padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #222;}
#wrap .ly_wrap .ly_tit strong {font-weight:400;}
#wrap .ly_wrap .ly_cont {padding:0;}
#wrap .ly_wrap .ly_close {right:29px; top:23px;}

/* header */
.slogan {height:50px; line-height:50px; background:#1e1e46; color:#fff; font-size:15px; text-align: center;}
#header .header_search {background:none; margin-top:40px; margin-bottom:10px; border:none;}
#header .header_search_cont {text-align: center; min-height:auto;}
#header .header_search_cont .h1_logo {position:absolute; left:0; top:0px;}
#header .header_search_cont .top_search { position: static; display:inline-block; float: none;}
#header .top_search {border:none;}
#header .top_search .top_text_cont {width: 500px; position:relative;}
#header .top_search .top_text_cont .top_srarch_text {height:50px; border-radius: 50px; border:1px solid #1e1e46; font-size:15px;}
#header .top_search .top_text_cont .btn_top_srarch {border:none; right:10px;}
#header .top_search .search_cont {display:none !important;}
#header .header_gnb {margin:20px 0 10px;}
#header .gnb .depth0 > li > a {font-size:17px;}
/* #header .gnb .depth0 > li > a {line-height:60px;} */

/* footer */
.content_info_wrap {display:none;}
#footer {background:#1e1e46; color:rgba(255,255,255,0.6)}
#footer .foot_list {border:none;}
#footer .foot_list ul {border-bottom:1px solid #a5a5b5;}
#footer .foot_list ul li a {border:none; padding:0; margin-right:55px; font-size:15px; color:#fff; height:50px; line-height:50px;}
#footer .foot_cont {padding:40px 0 0; display:flex; justify-content: space-between;}
#footer .foot_cont .box .foot_logo {float: none; display:block; width:auto; padding:0; margin-bottom:10px;}
#footer .foot_cont .box address {font-size:14px; margin-bottom:15px;}
#footer .foot_cont .box address span {position:relative; padding-right:18px;}
#footer .foot_cont .box address span:after {content:''; position:absolute; right:8px; top:50%; transform: translateY(-45%); background:rgba(255,255,255,0.6); width:1px; height:12px;}
#footer .foot_cont .box address span.last:after {display:none;}
#footer .foot_cont .box .copyright {font-size:14px;}
#footer .foot_cont .box .title {font-size:18px; color:#fff; line-height:1; margin-bottom:17px;}
#footer .foot_cont .box .link_list {width:210px;}
#footer .foot_cont .box .link_list li {display:inline-block; margin:0 10px 10px 0;} 
#footer .foot_cont .box .link_list li a {display:block; font-size:14px; padding:0 18px; height:34px; line-height:34px; border-radius: 34px; border:1px solid rgba(255,255,255,0.6); color:rgba(255,255,255,0.6);}
#footer .foot_cont .box .cs_tel {line-height:1; font-family:'Roboto'; font-size:30px; font-weight:700; color:#fff; margin-bottom:8px;}
#footer .foot_cont .box .time {font-size:14px; line-height:1.6;}

/* scroll_wrap 수정 */
.scroll_wrap {top:auto; bottom:0;}
#scroll_left {display:none;}
#scroll_right {right:0; top:auto; bottom:340px;}
#scroll_right.ban_fixed {margin-right:-600px; top:auto; bottom:340px;}
.right_banner {display:none;}
.scroll_right_cont {display:none;}

/* goods_list */ 
.goods_list_cont ul li {box-sizing: border-box;}
.goods_list_cont ul li .item_photo_box img {width:300px; max-width:100%;}
.goods_list_cont ul li .item_photo_box {border:none; border-radius: 15px;}
.item_tit_box .item_brand {text-align:left; font-size:15px; color:#222;}
.item_tit_box .item_brand strong {font-weight:400;}
.item_tit_box .item_name {text-align:left; font-size:17px; color:#222; font-weight:400; max-width: none;}
.item_money_box {text-align:left;}
.item_money_box .item_price {display:inline-block; font-size:24px; font-weight:700; color:#222;}
.item_money_box .item_price.dc-price {float: left; margin-right:10px;}

/* paging */
.pagination li {box-sizing: border-box; width:36px; height:36px; margin: 0 2px;}
.pagination li.btn_page {margin:0 5px; border-radius: 5px;}
.pagination li.btn_page_prev {margin-right:30px;}
.pagination li.btn_page_next {margin-left:30px;}
.pagination li.btn_page a {font-size:0; min-width:36px;}
.pagination li a, .pagination li span {width:36px; height:36px; line-height:36px; font-family: 'Roboto'; font-size:15px; font-weight:400; color:#999999;}
.pagination li.on span {border-radius: 5px; background:#380f93; color:#fff;}
.pagination .btn_page_first{margin:0 1px 0 1px;background: url(../img/new/btn_paging_first.png) no-repeat center; padding:0 !important;}
.pagination .btn_page_prev{margin:0 10px 0 1px; background: url(../img/new/btn_paging_prev.png) no-repeat center; padding:0 !important;}
.pagination .btn_page_next{margin:0 1px 0 10px; background: url(../img/new/btn_paging_next.png) no-repeat center; padding:0 !important;}
.pagination .btn_page_last{margin:0 1px 0 1px; background: url(../img/new/btn_paging_last.png) no-repeat center; padding:0 !important;}

/* date_check_box */
.date_check_box {background:#fff; border:none; border-top:1px solid #222; border-bottom:1px solid #eee; padding:30px 50px; margin-bottom:50px;}
.date_check_box h3 {padding:0 50px 0 0; line-height:50px;}
.date_check_box .date_check_list button {display:inline-block; border:none; font-size:15px; width:auto; height:34px; padding:10px 2px; margin:5px 15px 0; border-bottom:2px solid #fff;}
.date_check_box .date_check_list button:hover,
.date_check_box .date_check_list button.on{background:#fff; font-weight:700; color:#380f93; border-bottom:2px solid #380f93;}
.date_check_box .date_check_calendar {float:right;}
.date_check_box .date_check_calendar .anniversary {background-color:#f8f8f8; border-radius:5px; height:50px; border:none; padding-left:20px; margin:0 5px;}
.date_check_box .date_check_calendar .btn_date_check {min-width:80px; height:50px; border-radius: 5px; background:#380f93 url(../img/new/icon_search_white.png) center / 24px no-repeat;}
.date_check_box .date_check_calendar .btn_date_check em {display:none;}

/* main */
.main_visual {position: relative; max-height: 500px; overflow: hidden;}
.main_visual .controler {display:none;}
.main_visual .controler .inner { position:absolute; left:0; bottom:85px;  background:rgba(0,0,0,0.4); height:40px; line-height:38px; border-radius:40px; padding:0 10px; font-size:18px; color:#fff;}
.main_visual .controler .inner button {width:14px; height:14px; font-size:0; margin:0 2px; line-height:40px; position:relative; top:-1px;}
.main_visual .controler .inner button.prev {background:url(../img/main_visual_prev.png) center / 14px no-repeat;}
.main_visual .controler .inner button.next {background:url(../img/main_visual_next.png) center / 14px no-repeat;}
.main_visual .controler .inner button.stop {background:url(../img/main_visual_stop.png) center / 14px no-repeat;}
.main_visual .controler .inner button.play {background:url(../img/main_visual_play.png) center / 14px no-repeat;}
.main_visual .controler .inner button.off {display:none}
.main_goods_cont .slick-slider {overflow: unset;}
.main_goods_cont .item_slide_horizontal .slick-prev {left: -65px; background: url(../img/new/btn_horizontal_prev.png) center no-repeat;}
.main_goods_cont .item_slide_horizontal .slick-next {right: -65px; background: url(../img/new/btn_horizontal_next.png) center no-repeat;}
.main_goods_cont .goods_list_tit {text-align:center;}
.main_goods_cont .goods_list_tit h3 {font-size:40px; font-weight:700; display:inline-block;}
.main_goods_cont .goods_list_tit .btn_goods_more {display:inline-block; position: static;}
.main_goods_cont .goods_list_tit .btn_goods_more .btn_goods_view_more {font-size:40px; font-weight:700; color:#380f93;}

/* 상품리스트 */
.location_cont em {font-size:13px; padding-left:22px; background:url(../img/new/icon_home.png) left center / 16px no-repeat;}
.location_cont span {font-family:'Roboto'; font-size:13px; color:#888888; padding:0 10px;}
.location_cont .location_select {border:none;}
.location_cont .location_select .location_tit {background:none;}
.location_cont .location_select .location_tit a {padding:3px 0px;}
.location_cont .location_select .location_tit a span {padding:2px 5px;}
.location_cont .location_select ul li a span {color:#222; display: block; padding:5px 0;}
.location_cont .location_select ul li a span:hover {color:#fff;}
.goods_list_item_tit {line-height:1; text-align:center; margin:60px 0 60px;}
.goods_list_item_tit h2 {font-size:40px;}
.list_item_category li {font-size:15px;}

/* 상품상세 */
    /* 상품 이미지 슬라이드 */
    .item_photo_slide{position:relative; margin:20px 0 0 0;}
    .item_photo_slide .slider_goods_nav{font-size:0; width:600px;}
    .item_photo_slide .slider_goods_nav li{display:inline-block; width:100px; height:104px; padding:0 10px 0 10px;/* background:#666;*/}
    .item_photo_slide .slider_goods_nav li img{width:100px; height:100px; margin:2px 2px 2px 2px;}
    .item_photo_slide .slider_goods_nav li a{display:block; width:100px;}
    /* 작은 슬라이드 이미지 오버시, 선택시 */
    .item_photo_slide .slider_goods_nav li a:hover{width:100px; height:100px; border:2px solid #333;}
    .item_photo_slide .slider_goods_nav li a:hover img{margin:0;}
    .item_photo_slide .slider_goods_nav li a.on{width:100px; height:100px; border:2px solid #333;}
    .item_photo_slide .slider_goods_nav li a.on img{margin:0;}
    /* 작은 슬라이드 버튼 */
    .item_photo_slide .slick_goods_prev,
    .item_photo_slide .slick_goods_next{position:absolute; top:20px; left:0; padding:10px; z-index:150;}
    .item_photo_slide .slick_goods_next{right:0; left:auto;}
.item_detail_tit h3 {font-size:32px; width:100%;}
.btn_qa_share_box {display:none;}
.item_detail_list dt {width:125px; font-weight:400; color:#222;}
.item_detail_list dd {width:410px;}
.item_choice_list table {background:#fafafa;}
.item_detail_list + .item_choice_list table {border:none;}
.item_choice_list table tbody:last-child tr td {border:none;}
.item_tatal_box {float: none; width:100%; vertical-align: middle;}
.item_tatal_box:after {content: ""; clear: both;}
.item_tatal_box dl {display: flex; align-items:baseline;}
.item_tatal_box dt {flex:1; text-align: left; font-size:15px; font-weight:400; color:#222;vertical-align: middle;}
.item_tatal_box dd {flex:1; text-align: right; font-size:18px; font-weight:400; color:#222;vertical-align: middle;}
.item_tatal_box .total_amount {margin:0; border:none;}
.item_tatal_box .total_amount dt {font-size:15px; font-weight:400; color:#222; margin-top:5px;}
.item_tatal_box .total_amount dd strong {font-size:26px;}
.btn_choice_box_in {display: flex;}
.btn_choice_box_in button {flex:1; border-radius: 10px; height:70px;}
.btn_choice_box_in button.btn_add_cart {flex:0 0 70px; background:#fff url(../img/new/header/ico_header_cart.png) no-repeat center/30px !important; border:2px solid #cccccc !important; font-size:0;}
.btn_choice_box_in button.btn_add_wish {font-size:18px; border:2px solid #380f93 !important;}
.btn_choice_box_in button.btn_add_order {font-size:18px; background: #380f93;}

.item_goods_sec .detail_explain_box.goods {margin:0 -10px;}
.item_goods_sec .detail_explain_box.goods h3 {padding-left:10px;}
.item_goods_sec h3 {font-size:22px; font-weight: 400; margin-bottom:15px;}
.item_goods_tab {padding:0; margin-top:80px; border-top:1px solid #222; border-bottom:3px solid #eee;}
.item_goods_tab ul {display: flex; justify-content: center; width:100%; height:72px; padding:0px;}
.item_goods_tab li {flex: 0 0 230px;}
.item_goods_tab li a {padding:0; margin:0 0 0 -3px; border:none; border-bottom:3px solid #eee; font-size:18px; color:#888888; height:72px; line-height:72px;}
.item_goods_tab li.on {margin:0;}
.item_goods_tab li.on a {padding:0; margin:0 0 0 -3px; border:none; border-bottom:3px solid #380f93; color:#380f93;}


/* 고객센터 */
.body-service .sub_content .side_cont {display:none;}
.body-service #contents .sub_content .content {width:100% !important; padding:0 !important;}
.body-service .location_wrap {margin:20px 0 -50px;}
.board_zone_list.index .board_zone_tit,
.board_zone_list.index .board_sub_menu {display:none;}
.service_main_cont h3 {font-size:22px; font-weight:400; color:#222;}
.board_list_faq .btn_board_more {top:30px;}
.service_main_cont li {display: flex; align-items: center; height:70px; }
.service_main_cont li a {flex:1;}
.service_main_cont li span {float: none; padding:0;}

/* 게시판 리스트 (default) */
.board_zone_tit {line-height:1; text-align:center; margin:60px 0 60px;}
.board_zone_tit h2 {font-size:40px;}
.board_zone_tit h3 {font-size:40px;}
.board_sub_menu {text-align: center; margin-bottom:40px;}
.board_sub_menu li {display: inline-block;}
.board_sub_menu li a {display: block; padding:0 30px; margin:0 10px; height:50px; line-height:50px; background:#f2f2f2; font-size:20px; font-weight: 300; color:#666; border-radius: 8px;}
.board_sub_menu li.on a {font-weight:400; background:#380f93; color:#fff;}
.board_list_table th {background:#fff; height:55px; font-weight:400;}
.board_list_table td {height:45px;}
.board_search_box {background:none; border:none;}
.board_search_box .chosen-select {width:150px !important;}
.board_search_box .chosen-container {margin-right:10px;}
.board_search_box .chosen-single {width:150px; height:50px !important; border-radius: 10px; padding:0 10px; text-align:left;}
.board_search_box .chosen-single > span {line-height: 50px !important; text-align:left;}
.board_search_box .chosen-container .chosen-results li {text-align: left;}
.board_search_box input {width:280px; height:50px; border-radius:10px;}
.board_search_box .btn_board_search {width:100px; height:50px; border-radius: 10px;}
.board_search_box .chosen-container-single .chosen-single div b {position:relative; top:10px; right:10px;}

/* 게시판 리스트 (qa)-제품요청 */
.board_view_qa .view_question_box, 
.board_view_qa .view_answer_box {position:relative; padding:30px 0 30px 70px;}
.board_view_qa .view_question_box:before {content: "Q";  background:#888; position:absolute; left:30px; top:30px; width:40px; height:40px; line-height:40px;  border-radius: 40px; font-size:15px; font-weight:400; color:#fff; text-align:center;}
.board_view_qa .view_answer_box:before {content: "A";  background:#380f93; position:absolute; left:30px; top:30px; width:40px; height:40px; line-height:40px;  border-radius: 40px; font-size:15px; font-weight:400; color:#fff; text-align:center;}
.board_view_qa .view_question_tit, 
.board_view_qa .view_answer_tit {display:none;}


/* 게시판 상세 */
.board_zone_view .board_view_tit {border:none; border-top:1px solid #222; background:#fff; padding:30px 25px 0;}
.board_zone_view .board_view_tit h3 {font-size:24px;}
.board_zone_view .board_view_info {padding:10px 15px 30px 25px; font-size:15px; border-bottom:1px solid #eeeeee;}
.board_zone_view .board_view_info strong {font-weight:400; color:#222;  }
.board_zone_view .board_view_info .view_info_idip {margin-right:30px; vertical-align: middle;}
.board_zone_view .board_view_info .view_info_hits {float: none; margin-right:30px; color:#888888;}
.board_zone_view .board_view_info .view_info_day {border:none; height: auto; font-size: inherit; color:#888888;}
.board_zone_view .board_view_info .view_info_day em {position: static;}
.view_comment {border-bottom:1px solid #eee;}
.btn_right_box {margin-bottom:20px;}
.btn_right_box strong {font-weight:400;}
.btn_write {position: initial; min-width:150px; height:45px; background: #fff; border-radius: 10px; border:2px solid #380f93; font-size:15px; color:#380f93;}
.btn_write:hover{background:#380f93; color:#fff;}
.btn_board_del, .btn_board_edit, .btn_board_reply, .btn_board_list {min-width:100px; height:40px; line-height:38px; color:#222; border:1px solid #ddd; border-radius: 5px;}

/* 게시판 작성 */
.board_write_table th {background:#fff; border-bottom:1px solid #eeeeee; padding:20px 0 20px 25px; height:45px; vertical-align: middle;}
.board_write_table td {background:#fff; border-bottom:1px solid #eeeeee; padding:20px 0 20px 25px; height:45px; vertical-align: middle;}
.board_write_box select {min-width:40%;}
.board_write_box input {min-width:40%;}
.file_upload_sec .btn_upload_box {width: auto;}
.file_upload_sec .btn_upload_box .file {height:45px;}
.file_upload_sec .btn_upload_box .btn_upload {height:45px; padding:0 20px; border-radius: 5px; width:auto;}
.file_upload_sec .btn_upload_box .btn_gray_big {min-width:90px; height:45px; padding:0 15px 0 20px; border-radius: 5px; width:auto; background:#fff;}
.board_zone_sec .btn_center_box {margin-top:80px;}
.btn_before,
.btn_write_ok {min-width:200px; height:60px; border-radius:10px;}

/* FAQ */
.body-faq .date_check_box {margin:60px 0 100px; padding:40px 0; background:#f2f2f2; border:none; border-top:1px solid #dddddd; border-bottom: 1px solid #ddd; text-align: center; }
.body-faq .date_check_box .date_faq_list {display:block; width:800px; margin:0 auto 20px; position:relative;}
.body-faq .date_check_box .date_faq_list input[type="text"] {width:100%; height:70px; border-radius: 10px; font-size:18px; padding-left: 30px;}
.body-faq .date_check_box .date_faq_list .btn_date_check {position:absolute; right:0px; top:0px; width:70px; min-width:auto; height:70px;background:url(../img/new/icon_search.png) center / 50px no-repeat;font-size:0; border:none;}
.body-faq .date_check_box .date_faq_txt {display:block; width:100%; border:none; padding:0; text-align:center;}
.body-faq .date_check_box .date_faq_txt .btn {display:inline-block; margin-left:20px; height:40px; line-height:40px; padding: 0 20px; min-width:60px;background:#380f93; border-radius: 5px; font-size:15px; color:#fff;}
.board_list_faq .board_hot_list {border:none;}
.board_list_faq .board_hot_list ul li {margin-right: 5px;}
.board_list_faq .board_hot_list ul li a { border:none; height: auto; padding:0 20px;}
.board_list_faq .board_hot_list ul li a:hover { text-decoration: none;}
.board_list_faq .board_hot_list ul li.on a {background: #380f93; color:#fff;}
.board_list_faq .board_hot_list ul li a span {position: inherit;}
.board_list_faq .board_hot_list ul li a span:hover{font-weight:400; border-bottom:none; color:initial;}
.board_list_faq .board_hot_list ul li.on a span {color: #fff;}
.board_list_faq .board_faq {padding:30px 10px;}
.board_list_faq .board_faq .board_faq_cont {margin-left:100px; position: relative;}
.board_list_faq .board_faq .board_faq_cont .icon_qan {display:none;}
.board_list_faq .board_faq .board_faq_cont:before { position:absolute; left:-70px; top:-5px; width:40px; height:40px; line-height:40px;  border-radius: 40px; font-size:15px; font-weight:400; color:#fff; text-align:center;}
.board_list_faq .board_faq .board_faq_cont:first-child:before {content: "Q";  background:#888;     }
.board_list_faq .board_faq .board_faq_cont:nth-child(2):before {content: "A"; background:#380f93; }

/* 마이페이지 */
.body-mypage.body-index .side_cont .sub_menu_box h2 {position:absolute; left:0; top:50px; width:1200px; text-align: center;font-size:40px; border:none;}
.body-mypage.body-index .sub_content {padding-top:105px;}
.body-mypage.body-index #contents .sub_content > .side_cont + .content {padding-top:45px;}
.side_cont .sub_menu_box .sub_menu_mypage > li {background:none;}
.side_cont .sub_menu_box .sub_menu_mypage > li h3 {font-size:22px; font-weight:400; color:#222; border-bottom:1px solid #222; padding-bottom:5px; margin-bottom:10px; width:calc(100% - 40px); box-sizing : border-box;}
.side_cont .sub_menu_box .sub_menu_mypage .sub_depth1 a {font-size:15px; color:#222; line-height:30px; padding:0; text-indent: 0;}
.side_cont .sub_menu_box .sub_menu_mypage .sub_depth1 li a:hover{background:none; color:#380f93;}
.side_cont .sub_menu_box .sub_menu_mypage .sub_depth1 li a.active{background:none; color:#380f93;}

.mypage_top_info {background:#f2f2f2; border:1px solid #ddd; padding:20px 30px; display: flex; height:150px; box-sizing: border-box; margin-bottom:90px;}
.mypage_top_txt {flex:1; background:none; width:677px; display: flex; padding:0;}
.mypage_top_txt .grade_img {display: flex; align-items: center; justify-content:center; flex:0 0 110px; height:110px; margin-right:30px; padding:0; max-width:none; background:#fff; border-radius: 10px;}
.mypage_top_txt .grade_txt {flex:1; position: relative;}
.mypage_top_txt .grade_txt p {font-size:17px; text-align:left;}
.mypage_top_txt .grade_txt p:nth-child(1) {font-size:17px; position: absolute; top:10px;}
.mypage_top_txt .grade_txt p:nth-child(2) {font-size:30px; position: absolute; bottom:0px;}
.mypage_top_txt .grade_txt .btn_layer {position:absolute; right:-10px; bottom:7px;}
.mypage_top_txt .grade_txt .btn_layer .btn-lyGrade {display:inline-block; padding:0 15px; height:28px; line-height:28px; border:1px solid #222; border-radius: 28px;font-size:14px;}
.mypage_top_wallet {flex:1; background:none; width:auto; text-align: right;}
.mypage_top_wallet ul {padding:0; display: flex;}
.mypage_top_wallet ul li {position:relative; flex:1 1 auto; height:110px; border:none; width:auto; text-align: right; padding-top:10px;}
.mypage_top_wallet ul li em {font-size:17px; font-weight:400; padding:0 0 35px 0;}
.mypage_top_wallet ul li a {font-size:20px; padding-top:20px;}
.mypage_top_wallet li strong {font-size:35px; color:#222; line-height:1.3;}

.mypage_zone_tit {padding:0; margin-bottom:15px;}
.mypage_zone_tit h3 {font-size:22px; font-weight:400; color:#222;}
.mypage_zone_tit .caption {font-size:16px; color:#888;}
.mypage_zone_tit span {font-size:16px; color:#888; padding-left:15px;}
.mypage_order_info_cont {border:1px solid #ddd; padding:35px 0 0 0; margin-bottom:90px;}
.mypage_order_info_cont ol {border:none; width:100%; margin-bottom:25px;}
.mypage_order_info_cont ol li {background:url(../img/new/mypgae_ing_next_bg.png) left center / 14px no-repeat;}
.mypage_order_info_cont ol li strong {background:none; padding:0 0 10px 0; font-size:40px; font-weight:700; color:#222;}
.mypage_order_info_cont ol li b {font-size:16px; font-weight: 400;}
.mypage_order_info_cont .order_case_list {display: block; width: auto; background:#fafafa;}
.mypage_order_info_cont .order_case_list ul {display: flex; align-items: center; width:auto;}
.mypage_order_info_cont .order_case_list ul li {flex:0 0 33%; padding:20px 10px; border:none; box-sizing: border-box;display: flex; justify-content:space-around;position: relative; font-size:15px; line-height:28px;}
.mypage_order_info_cont .order_case_list ul li:before {content:''; position:absolute; left:0px; top:50%; transform: translateY(-50%); width:1px; height:14px; border-right:2px solid #222;}
.mypage_order_info_cont .order_case_list ul li:first-child:before {display: none;}
.mypage_order_info_cont .order_case_list ul li b {padding-left:50px; font-weight:400;background:url(../img/new/mypgae_ing_cancel_bg.png) 15px center / 26px no-repeat;}
.mypage_order_info_cont .order_case_list ul li b.cancel {background-image:url(../img/new/mypgae_ing_cancel_bg.png);}
.mypage_order_info_cont .order_case_list ul li b.exchange {background-image:url(../img/new/mypgae_ing_exchange_bg.png);}
.mypage_order_info_cont .order_case_list ul li b.return {background-image:url(../img/new/mypgae_ing_return_bg.png);}
.mypage_lately_info .btn_board_more {font-size:14px;}
.mypage_table_type th {background:#fff; height:55px; font-weight:400;}
.mypage_table_type td {height:45px;}

.mypage_lately_info .date_check_box {padding:30px 25px; margin-bottom:90px;}
.mypage_lately_info .date_check_box h3{padding:0 30px 0 0;}
.mypage_lately_info .date_check_calendar {width:430px;}
.mypage_lately_info .date_check_calendar .anniversary {width:150px;}
.mypage_lately_info .date_check_calendar .btn_date_check {float: right;}

.mypage_breakdown_tab {padding:0; border:none; margin-bottom:45px;}
.mypage_breakdown_tab ul {display: flex; height:70px;}
.mypage_breakdown_tab li {flex:1;}
.mypage_breakdown_tab li + li {margin-left:10px;}
.mypage_breakdown_tab li a {padding:0; margin:0; border:none; font-size:22px; color:#888888; height:70px; line-height:70px;background:#eee; border-radius: 10px;}
.mypage_breakdown_tab li.on a {margin:0; padding:0; background:#380f93; color:#fff;}

.category_select {border:none; border-top:1px solid #222; border-bottom:1px solid #eee; margin-bottom:50px;}
.category_select .categoryBox-wrap {display:flex;}
.category_select .categoryBox-wrap .select_box {flex:1;}
.category_select .categoryBox-wrap .select_box + .select_box {margin-left:20px;}
.category_select .categoryBox-wrap .select_box select {width:100%; height:50px;}
.category_select .categoryBox-wrap .keyword_input {flex:1; height:50px;}
.category_select .categoryBox-wrap .category_search_btn {min-width:80px; height:50px; border-radius: 5px; background:#380f93 url(../img/new/icon_search_white.png) center / 24px no-repeat; margin-left:20px;}
.category_select .categoryBox-wrap .category_search_btn em {display:none;}

.mypage_lately_goods {display: none;}

.my_page_password .mypage_zone_tit {border:none; padding: 0; margin-bottom: 20px;}
.my_page_password .id_pw_cont {margin:15px 0 80px; padding:40px 230px; background:#fff; border:1px solid #ddd;}
.my_page_password .id_pw_cont dl {display: flex; align-items: center; text-align: left;}
.my_page_password .id_pw_cont dl + dl { margin-top:10px;}
.my_page_password .id_pw_cont dl dt {flex:0 0 90px; font-size: 15px; font-weight: 400;}
.my_page_password .id_pw_cont dl dd {flex: 1; font-size: 15px; font-weight: 400;}
.btn_pw_cancel {background:#fff; color:#222;}
.btn_pw_certify {width:200px; background:#380f93; border:1px solid #380f93; color:#fff;}

.member_cont .base_info_sec table th {height:55px; font-weight:700;}
.member_cont .base_info_sec table td {height:45px;}
.member_cont table th {background:#fff !important;}

.member_cont .member_pw_change dt {font-size:15px; font-weight:400;}
#contents .member_cont .member_address .address_postcode .btn_post_search {border:1px solid #ddd; border-radius: 5px; height:45px; padding:0 20px;}

.btn_pw_cancel {background:#fff; color:#222;}
.btn_member_cancel {width:200px; background:#fff; color:#222;}
.btn_comfirm, .btn_pw_certify {width:200px; background:#380f93; border:1px solid #380f93; color:#fff;}