@charset "utf-8";
/* CSS Document */

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none;vertical-align:top;}
dl,ul,ol,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
/* 220420 요청사항으로 인해 폰트 사이즈 12 > 15px로 변경 */
body,th,td,input,select,textarea,button {font-size:11px;line-height:1.5;font-family:"Noto Sans KR", Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;color:#222} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}


/* noto */
@font-face {
	font-family : "Noto Sans Kr";
	font-weight:100;
	src: url('font/notokr-light.eot'); /* IE9 Compat Modes */
	src: url('font/notokr-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('font/notokr-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('font/notokr-light.woff') format('woff'), /* Pretty Modern Browsers */
		url('font/notokr-light.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('font/notokr-light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family : "Noto Sans Kr";
	font-weight:400;
	src: url('font/notokr-regular.eot'); /* IE9 Compat Modes */
	src: url('font/notokr-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('font/notokr-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('font/notokr-regular.woff') format('woff'), /* Pretty Modern Browsers */
		url('font/notokr-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('font/notokr-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family : "Noto Sans Kr";
	font-weight:500;
	src: url('font/notokr-medium.eot'); /* IE9 Compat Modes */
	src: url('font/notokr-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('font/notokr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('font/notokr-medium.woff') format('woff'), /* Pretty Modern Browsers */
		url('font/notokr-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('font/notokr-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family : "Noto Sans Kr";
	font-weight:700;
	src: url('font/notokr-bold.eot'); /* IE9 Compat Modes */
	src: url('font/notokr-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('font/notokr-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('font/notokr-bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('font/notokr-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('font/notokr-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/******        Roboto            ********/
@font-face {
	font-family : "Roboto";
	font-weight:100;
	src: url('font/Roboto-Light.eot'); /* IE9 Compat Modes */
	src: url('font/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('font/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
		url('font/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
		url('font/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('font/Roboto-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family : "Roboto";
	font-weight:400;
	src: url('font/Roboto-Regular.eot'); /* IE9 Compat Modes */
	src: url('font/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('font/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('font/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
		url('font/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('font/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family : "Roboto";
	font-weight:500;
	src: url('font/Roboto-Medium.eot'); /* IE9 Compat Modes */
	src: url('font/Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('font/Roboto-Medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('font/Roboto-Medium.woff') format('woff'), /* Pretty Modern Browsers */
		url('font/Roboto-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('font/Roboto-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family : "Roboto";
	font-weight:700;
	src: url('font/Roboto-Bold.eot'); /* IE9 Compat Modes */
	src: url('font/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('font/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('font/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('font/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('font/Roboto-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}